body {
    background-color: linear-gradient(135deg, #f5c4dc, #ea3d93); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #d69ef9;
    padding: 20px;
    width: 260px;
    border-radius: 15px; 
    box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
}

#display {
    width: 100%;
    height: 45px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
    border-radius: 10px; 
    border: none;
    padding: 5px;
    font-weight: bold;
    box-shadow: inset 2px -3px 5px rgba(0,0,0,0.5);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    font-weight: bold; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    background-color: #cf60f7; 
    color: #edd6f4;
    transition: background 0.3s;
    box-shadow: inset 0px -3px 3px rgba(0,0,0,0.5);
}

button:hover {
    background-color: #8838f1; 
}

.result {
    grid-column: span 2;
}

.zero {
    position: relative;
    grid-column: span 2;
    height: 50px;
    font-weight: bold;
}
